 <section class="jumbotron text-center">
 	<div class="container">
  	<h1>User n°<%= @id %> !</h1>
   	<h4>Nom et prénom du user / age : <%= @user_first_name %> <%= @user_last_name %> / <%= @user_age %> ans</h4>
    <h5>Adresse email : <%= @user_email %></h5>
    <p>Description du user : <%= @user_description %></p>
  </div>
</section>
