<div class="jumbotron jumbotron-fluid text-red">
	<div class="transbox">
		<h1 class="text-center">The Gossip Project</h1>
		<h4 class="text-center">Si vous aussi, vous voulez connaître tous les potins du moment pour ne pas passer pour un bleu à la machine à café, alors vous êtes au bon endroit !</h4>
	</div>
	
</div>


<div class="container">
		<h1 class="text-center">Bienvenue à toi, visiteur !</h1>
		<br/>
</div>

<div class="container">
		<p>Si tu souhaites ajouter un potin, c'est par <a href="/potins/new">ici</a> !</p>
		<br/>
</div>


<div class="card-columns">
	<% @potins.each do |p| %>
	<div class="card border-dark mb-3" style="max-width: 14rem;">
  	<div class="card-header">Potin n°<%= p.id %></div>
  	<div class="card-body text-dark">
   		<h5 class="card-title">par <%= User.all.find(p.user_id).first_name%></h5>
    	<p class="card-text">Titre : <%= p.title %>
   	 	<br />
    	<a href="/potins/<%= p.id%>" >Voir le potin</a></p>
    	<br />
    	Nombre de commentaires : <%= p.comments.count %>
  	</div>
	</div>
	<% end %>
</div>
